:root {
  --color-focus: #0e70f1;
  --color-text-on-light-default: #15171a;
  --color-text-on-light-strong: #000000;
  --color-text-on-light-subtle: #565b66;
  --color-text-on-light-disabled: #6b7280;
  --color-text-on-light-placeholder: #a6aab3;
  --color-text-on-dark-default: #f0f1f2;
  --color-text-on-dark-strong: #ffffff;
  --color-text-on-dark-subtle: #c4c7cc;
  --color-text-on-dark-disabled: #a6aab3;
  --color-text-on-dark-placeholder: #2b2e33;
  --color-text-on-link-default: #0e70f1;
  --color-text-on-link-hover: #0e70f1;
  --color-text-on-link-seleted: #0a4ca4;
  --color-text-on-link-disabled: #5b9ef5;
  --color-primary-default: #0e70f1;
  --color-primary-hover: #0a4ca4;
  --color-primary-seleted: #073a7d;
  --color-primary-disabled: #5b9ef5;
  --color-primary-strong: #0c5eca;
  --color-primary-subtle: #95c0f9;
  --color-secondary-default: #898e99;
  --color-secondary-strong: #6b7280;
  --color-secondary-subtle: #c4c7cc;
  --color-secondary-hover: #565b66;
  --color-secondary-seleted: #40444d;
  --color-secondary-disabled: #c4c7cc;
  --color-success-default: #22c55e;
  --color-success-strong: #1b9e4b;
  --color-success-subtle: #afebc5;
  --color-success-hover: #147638;
  --color-success-seleted: #0e4f26;
  --color-success-disabled: #9be5b6;
  --color-failure-default: #ef0e0e;
  --color-failure-strong: #c80c0c;
  --color-failure-subtle: #f89494;
  --color-failure-hover: #a20a0a;
  --color-failure-seleted: #7b0707;
  --color-failure-disabled: #f78181;
  --color-warning-default: #eab308;
  --color-warning-strong: #bb8f06;
  --color-warning-subtle: #f9e8b5;
  --color-warning-hover: #8c6b05;
  --color-warning-seleted: #5e4803;
  --color-warning-disabled: #f7e19c;
  --color-info-default: #0e70f1;
  --color-info-strong: #0c5eca;
  --color-info-subtle: #95c0f9;
  --color-info-hover: #0a4ca4;
  --color-info-seleted: #073a7d;
  --color-info-disabled: #82b4f8;
  --color-profile-default: #22c55e;
  --color-profile-strong: #1b9e4b;
  --color-profile-subtle: #afebc5;
  --color-profile-hover: #147638;
  --color-profile-seleted: #0e4f26;
  --color-profile-disabled: #9be5b6;
  --color-works-default: #14b8a6;
  --color-works-strong: #109385;
  --color-works-subtle: #98e6dd;
  --color-works-hover: #0c6e64;
  --color-works-seleted: #084a42;
  --color-works-disabled: #85e0d5;
  --color-outputs-default: #0ea5e9;
  --color-outputs-strong: #0b84ba;
  --color-outputs-subtle: #b1e2f8;
  --color-outputs-hover: #08638c;
  --color-outputs-seleted: #06425d;
  --color-outputs-disabled: #9ad9f6;
  --color-default-default: #ffffff;
  --color-default-strong: #898e99;
  --color-default-subtle: #d3d5d9;
  --color-default-hover: #d3d5d9;
  --color-default-seleted: #a6aab3;
  --color-default-disabled: #e1e3e6;
  --color-exposed-default: rgba(0, 0, 0, 0);
  --color-exposed-hover: rgba(0, 0, 0, 0.1);
  --color-exposed-selected: rgba(0, 0, 0, 0.2);
  --color-input-background-default: #ffffff;
  --color-input-background-disabled: #f0f1f2;
  --color-input-background-error: #fee2e2;
  --color-input-border-default: #a6aab3;
  --color-input-border-hover: #0e70f1;
  --color-input-border-disabled: #c4c7cc;
  --color-input-border-error: #f78181;
  --color-input-border-error-hover: #ef0e0e;
  --color-input-spin-button-background-default: #ffffff;
  --color-input-spin-button-background-hover: #e1e3e6;
  --color-text-on-failure-default: #f45a5a;
  --color-checkbox-radio-background-disabled: #f0f1f2;
  --color-checkbox-radio-background-default: #ffffff;
  --color-checkbox-radio-background-checked: #0e70f1;
  --color-checkbox-radio-background-checked-hover: #5b9ef5;
  --color-checkbox-radio-background-checked-disabled: #c4c7cc;
  --color-checkbox-radio-border-disabled: #c4c7cc;
  --color-checkbox-radio-border-hover: #0e70f1;
  --color-checkbox-radio-border-default: #a6aab3;
  --color-checkbox-radio-border-checked-disabled: #c4c7cc;
  --color-checkbox-radio-border-checked-hover: #5b9ef5;
  --color-checkbox-radio-border-checked: #0e70f1;
  --color-checkbox-radio-icon-default: #ffffff;
  --color-checkbox-radio-icon-checked-disabled: #898e99;
  --color-checkbox-radio-icon-disabled: #f0f1f2;
  --color-switch-icon-default: #ffffff;
  --color-switch-icon-disabled: #f0f1f2;
  --color-switch-background-default: #a6aab3;
  --color-switch-background-hover: #e1e3e6;
  --color-switch-background-disabled: #c4c7cc;
  --color-switch-background-checked-hover: #5b9ef5;
  --color-switch-background-checked: #0e70f1;
  --color-switch-background-checked-disabled: #c4c7cc;
  --color-teal-0: #d1faf5;
  --color-teal-50: #bef3ed;
  --color-teal-100: #abede5;
  --color-teal-150: #98e6dd;
  --color-teal-200: #85e0d5;
  --color-teal-300: #60d2c6;
  --color-teal-400: #3ac5b6;
  --color-teal-500: #14b8a6;
  --color-teal-600: #109385;
  --color-teal-700: #0c6e64;
  --color-teal-800: #084a42;
  --color-teal-850: #063732;
  --color-teal-900: #042521;
  --color-green-0: #ebfbf1;
  --color-green-50: #d7f6e2;
  --color-green-100: #c3f0d4;
  --color-green-150: #afebc5;
  --color-green-200: #9be5b6;
  --color-green-300: #72db99;
  --color-green-400: #4ad07b;
  --color-green-500: #22c55e;
  --color-green-600: #1b9e4b;
  --color-green-700: #147638;
  --color-green-800: #0e4f26;
  --color-green-850: #0a3b1c;
  --color-green-900: #072713;
  --color-sky-0: #f7fcff;
  --color-sky-50: #e0f3fd;
  --color-sky-100: #c8ebfb;
  --color-sky-150: #b1e2f8;
  --color-sky-200: #9ad9f6;
  --color-sky-300: #6bc8f2;
  --color-sky-400: #3db6ed;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0b84ba;
  --color-sky-700: #08638c;
  --color-sky-800: #06425d;
  --color-sky-850: #043246;
  --color-sky-900: #03212f;
  --color-grey-0: #ffffff;
  --color-grey-50: #f0f1f2;
  --color-grey-100: #e1e3e6;
  --color-grey-150: #d3d5d9;
  --color-grey-200: #c4c7cc;
  --color-grey-300: #a6aab3;
  --color-grey-400: #898e99;
  --color-grey-500: #6b7280;
  --color-grey-600: #565b66;
  --color-grey-700: #40444d;
  --color-grey-800: #2b2e33;
  --color-grey-850: #202226;
  --color-grey-900: #15171a;
  --color-grey-950: #0b0b0d;
  --color-grey-1000: #000000;
  --color-red-0: #fef2f2;
  --color-red-50: #fee2e2;
  --color-red-100: #f9a7a7;
  --color-red-150: #f89494;
  --color-red-200: #f78181;
  --color-red-300: #f45a5a;
  --color-red-400: #f23434;
  --color-red-500: #ef0e0e;
  --color-red-600: #c80c0c;
  --color-red-700: #a20a0a;
  --color-red-800: #7b0707;
  --color-red-850: #680606;
  --color-red-900: #550505;
  --color-blue-0: #cfe2fc;
  --color-blue-50: #bcd7fb;
  --color-blue-100: #a8cbfa;
  --color-blue-150: #95c0f9;
  --color-blue-200: #82b4f8;
  --color-blue-300: #5b9ef5;
  --color-blue-400: #3587f3;
  --color-blue-500: #0e70f1;
  --color-blue-600: #0c5eca;
  --color-blue-700: #0a4ca4;
  --color-blue-800: #073a7d;
  --color-blue-850: #06316a;
  --color-blue-900: #052857;
  --color-yellow-0: #ffffff;
  --color-yellow-50: #fdf7e6;
  --color-yellow-100: #fbf0ce;
  --color-yellow-150: #f9e8b5;
  --color-yellow-200: #f7e19c;
  --color-yellow-300: #f2d16b;
  --color-yellow-400: #eec239;
  --color-yellow-500: #eab308;
  --color-yellow-600: #bb8f06;
  --color-yellow-700: #8c6b05;
  --color-yellow-800: #5e4803;
  --color-yellow-850: #463602;
  --color-yellow-900: #2f2402;
  --color-white: #ffffff;
  --color-black: #000000;
  --border-radius-none: 0px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-full: 9999px;
  --opacity-0: 0;
  --opacity-25: 25;
  --opacity-50: 50;
  --opacity-75: 75;
  --opacity-100: 100;
  --spacing-none: 0px;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-lg: 14px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;
  --spacing-6xl: 56px;
  --spacing-2xs: 2px;
  --elevation-styles-elevation2-color: #00000026;
  --elevation-styles-elevation2-type: dropShadow;
  --elevation-styles-elevation2-x: 0;
  --elevation-styles-elevation2-y: 2;
  --elevation-styles-elevation2-blur: 4;
  --elevation-styles-elevation2-spread: 0;
  --elevation-styles-elevation4-color: #00000026;
  --elevation-styles-elevation4-type: dropShadow;
  --elevation-styles-elevation4-x: 0;
  --elevation-styles-elevation4-y: 4;
  --elevation-styles-elevation4-blur: 8;
  --elevation-styles-elevation4-spread: 0;
  --elevation-styles-elevation8-color: #00000026;
  --elevation-styles-elevation8-type: dropShadow;
  --elevation-styles-elevation8-x: 0;
  --elevation-styles-elevation8-y: 8;
  --elevation-styles-elevation8-blur: 12;
  --elevation-styles-elevation8-spread: 0;
  --elevation-styles-elevation12-color: #00000040;
  --elevation-styles-elevation12-type: dropShadow;
  --elevation-styles-elevation12-x: 0;
  --elevation-styles-elevation12-y: 12;
  --elevation-styles-elevation12-blur: 20;
  --elevation-styles-elevation12-spread: 0;
  --button-size-md-line-height-line-font-family: BIZ UDPGothic;
  --button-size-md-line-height-line-font-weight: Bold;
  --button-size-md-line-height-line-line-height: 113.4%;
  --button-size-md-line-height-line-font-size: 0.875rem;
  --button-size-md-line-height-line-letter-spacing: 0%px;
  --button-size-md-line-height-line-paragraph-spacing: 0px;
  --button-size-md-line-height-line-paragraph-indent: 0px;
  --button-size-md-line-height-line-text-case: none;
  --button-size-md-line-height-line-text-decoration: none;
  --button-size-sm-line-height-line-font-family: BIZ UDPGothic;
  --button-size-sm-line-height-line-font-weight: Bold;
  --button-size-sm-line-height-line-line-height: 113.4%;
  --button-size-sm-line-height-line-font-size: 0.75rem;
  --button-size-sm-line-height-line-letter-spacing: 0%px;
  --button-size-sm-line-height-line-paragraph-spacing: 0px;
  --button-size-sm-line-height-line-paragraph-indent: 0px;
  --button-size-sm-line-height-line-text-case: none;
  --button-size-sm-line-height-line-text-decoration: none;
  --input-size-md-line-height-line-font-family: BIZ UDPGothic;
  --input-size-md-line-height-line-font-weight: Regular;
  --input-size-md-line-height-line-line-height: 125%;
  --input-size-md-line-height-line-font-size: 1rem;
  --input-size-md-line-height-line-letter-spacing: 0%px;
  --input-size-md-line-height-line-paragraph-spacing: 0px;
  --input-size-md-line-height-line-paragraph-indent: 0px;
  --input-size-md-line-height-line-text-case: none;
  --input-size-md-line-height-line-text-decoration: none;
  --input-number-size-md-line-height-line-font-family: Lato;
  --input-number-size-md-line-height-line-font-weight: Regular;
  --input-number-size-md-line-height-line-line-height: 125%;
  --input-number-size-md-line-height-line-font-size: 1rem;
  --input-number-size-md-line-height-line-letter-spacing: 0%px;
  --input-number-size-md-line-height-line-paragraph-spacing: 0px;
  --input-number-size-md-line-height-line-paragraph-indent: 0px;
  --input-number-size-md-line-height-line-text-case: none;
  --input-number-size-md-line-height-line-text-decoration: none;
  --text-area-size-md-font-family: BIZ UDPGothic;
  --text-area-size-md-font-weight: Regular;
  --text-area-size-md-line-height: 150%;
  --text-area-size-md-font-size: 1rem;
  --text-area-size-md-letter-spacing: 0%px;
  --text-area-size-md-paragraph-spacing: 0px;
  --text-area-size-md-paragraph-indent: 0px;
  --text-area-size-md-text-case: none;
  --text-area-size-md-text-decoration: none;
  --checkbox-radio-size-md-font-family: BIZ UDPGothic;
  --checkbox-radio-size-md-font-weight: Regular;
  --checkbox-radio-size-md-line-height: 130%;
  --checkbox-radio-size-md-font-size: 1rem;
  --checkbox-radio-size-md-letter-spacing: 0%px;
  --checkbox-radio-size-md-paragraph-spacing: 0px;
  --checkbox-radio-size-md-paragraph-indent: 0px;
  --checkbox-radio-size-md-text-case: none;
  --checkbox-radio-size-md-text-decoration: none;
  --font-families-biz-udpgothic: BIZ UDPGothic;
  --font-families-lato: Lato;
  --line-heights-0: 113.4%;
  --line-heights-1: 125%;
  --line-heights-2: 150%;
  --line-heights-3: 130%;
  --font-weights-biz-udpgothic-0: Bold;
  --font-weights-biz-udpgothic-1: Regular;
  --font-weights-lato-2: Regular;
  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --letter-spacing-0: 0%px;
  --paragraph-spacing-0: 0px;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --font-family-default: BIZ UDPGothic;
  --font-family-mintyo: BIZ UDPMincho;
  --font-family-number: Lato;
  --line-height-default: 150%;
  --line-height-relax: 175%;
  --line-height-heading: 130%;
  --line-height-line: 113.4%;
  --line-height-input: 120%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-2xs: 0.625rem;
  --font-size-7xl: 3rem;
  --font-size-6xl: 2.5rem;
  --font-size-5xl: 2.25rem;
  --font-size-4xl: 2rem;
  --font-size-8xl: 3.5rem;
}
