:root[data-theme='dark'] {
  --color-focus: #5b9ef5;
  --color-text-on-light-default: #15171a;
  --color-text-on-light-strong: #000000;
  --color-text-on-light-subtle: #40444d;
  --color-text-on-light-disabled: #898e99;
  --color-text-on-light-placeholder: #c4c7cc;
  --color-text-on-dark-default: #f0f1f2;
  --color-text-on-dark-strong: #ffffff;
  --color-text-on-dark-subtle: #a6aab3;
  --color-text-on-dark-disabled: #898e99;
  --color-text-on-dark-placeholder: #40444d;
  --color-text-on-link-default: #3587f3;
  --color-text-on-link-hover: #3587f3;
  --color-text-on-link-seleted: #82b4f8;
  --color-text-on-link-disabled: #95c0f9;
  --color-primary-default: #5b9ef5;
  --color-primary-hover: #0e70f1;
  --color-primary-seleted: #0c5eca;
  --color-primary-disabled: #bcd7fb;
  --color-primary-strong: #3587f3;
  --color-primary-subtle: #a8cbfa;
  --color-secondary-default: #898e99;
  --color-secondary-strong: #6b7280;
  --color-secondary-subtle: #d3d5d9;
  --color-secondary-hover: #565b66;
  --color-secondary-seleted: #40444d;
  --color-secondary-disabled: #d3d5d9;
  --color-success-default: #72db99;
  --color-success-strong: #4ad07b;
  --color-success-subtle: #c3f0d4;
  --color-success-hover: #22c55e;
  --color-success-seleted: #1b9e4b;
  --color-success-disabled: #d7f6e2;
  --color-failure-default: #f45a5a;
  --color-failure-strong: #f23434;
  --color-failure-subtle: #f9a7a7;
  --color-failure-hover: #ef0e0e;
  --color-failure-seleted: #c80c0c;
  --color-failure-disabled: #fbbaba;
  --color-warning-default: #f2d16b;
  --color-warning-strong: #eec239;
  --color-warning-subtle: #fbf0ce;
  --color-warning-hover: #eab308;
  --color-warning-seleted: #bb8f06;
  --color-warning-disabled: #fdf7e6;
  --color-info-default: #5b9ef5;
  --color-info-strong: #3587f3;
  --color-info-subtle: #a8cbfa;
  --color-info-hover: #0e70f1;
  --color-info-seleted: #0c5eca;
  --color-info-disabled: #bcd7fb;
  --color-profile-default: #72db99;
  --color-profile-strong: #4ad07b;
  --color-profile-subtle: #c3f0d4;
  --color-profile-hover: #22c55e;
  --color-profile-seleted: #1b9e4b;
  --color-profile-disabled: #d7f6e2;
  --color-works-default: #60d2c6;
  --color-works-strong: #3ac5b6;
  --color-works-subtle: #abede5;
  --color-works-hover: #14b8a6;
  --color-works-seleted: #109385;
  --color-works-disabled: #bef3ed;
  --color-outputs-default: #6bc8f2;
  --color-outputs-strong: #3db6ed;
  --color-outputs-subtle: #c8ebfb;
  --color-outputs-hover: #0ea5e9;
  --color-outputs-seleted: #0b84ba;
  --color-outputs-disabled: #e0f3fd;
  --color-default-default: #ffffff;
  --color-default-strong: #898e99;
  --color-default-subtle: #c4c7cc;
  --color-default-hover: #a6aab3;
  --color-default-seleted: #a6aab3;
  --color-default-disabled: #c4c7cc;
  --color-exposed-default: rgba(255, 255, 255, 0);
  --color-exposed-hover: rgba(255, 255, 255, 0.1);
  --color-exposed-selected: rgba(255, 255, 255, 0.2);
  --color-input-background-default: #ffffff;
  --color-input-background-disabled: #e1e3e6;
  --color-input-background-error: #fccdcd;
  --color-input-border-default: #a6aab3;
  --color-input-border-hover: #5b9ef5;
  --color-input-border-disabled: #e1e3e6;
  --color-input-border-error: #f9a7a7;
  --color-input-border-error-hover: #f45a5a;
  --color-input-spin-button-background-default: #ffffff;
  --color-input-spin-button-background-hover: #e1e3e6;
  --color-text-on-failure-default: #f78181;
  --color-checkbox-radio-background-disabled: #e1e3e6;
  --color-checkbox-radio-background-default: #ffffff;
  --color-checkbox-radio-background-checked: #5b9ef5;
  --color-checkbox-radio-background-checked-hover: #0e70f1;
  --color-checkbox-radio-background-checked-disabled: #e1e3e6;
  --color-checkbox-radio-border-disabled: #e1e3e6;
  --color-checkbox-radio-border-hover: #5b9ef5;
  --color-checkbox-radio-border-default: #a6aab3;
  --color-checkbox-radio-border-checked-disabled: #e1e3e6;
  --color-checkbox-radio-border-checked-hover: #0e70f1;
  --color-checkbox-radio-border-checked: #5b9ef5;
  --color-checkbox-radio-icon-default: #ffffff;
  --color-checkbox-radio-icon-checked-disabled: #a6aab3;
  --color-checkbox-radio-icon-disabled: #e1e3e6;
  --color-switch-icon-default: #ffffff;
  --color-switch-icon-disabled: #e1e3e6;
  --color-switch-background-default: #a6aab3;
  --color-switch-background-hover: #6b7280;
  --color-switch-background-disabled: #e1e3e6;
  --color-switch-background-checked-hover: #0e70f1;
  --color-switch-background-checked: #5b9ef5;
  --color-switch-background-checked-disabled: #e1e3e6;
  --color-teal-0: #042521;
  --color-teal-50: #063732;
  --color-teal-100: #084a42;
  --color-teal-150: #0c6e64;
  --color-teal-200: #109385;
  --color-teal-300: #14b8a6;
  --color-teal-400: #3ac5b6;
  --color-teal-500: #60d2c6;
  --color-teal-600: #85e0d5;
  --color-teal-700: #98e6dd;
  --color-teal-800: #abede5;
  --color-teal-850: #bef3ed;
  --color-teal-900: #d1faf5;
  --color-green-0: #072713;
  --color-green-50: #0a3b1c;
  --color-green-100: #0e4f26;
  --color-green-150: #147638;
  --color-green-200: #1b9e4b;
  --color-green-300: #22c55e;
  --color-green-400: #4ad07b;
  --color-green-500: #72db99;
  --color-green-600: #9be5b6;
  --color-green-700: #afebc5;
  --color-green-800: #c3f0d4;
  --color-green-850: #d7f6e2;
  --color-green-900: #ebfbf1;
  --color-sky-0: #03212f;
  --color-sky-50: #043246;
  --color-sky-100: #06425d;
  --color-sky-150: #08638c;
  --color-sky-200: #0b84ba;
  --color-sky-300: #0ea5e9;
  --color-sky-400: #3db6ed;
  --color-sky-500: #6bc8f2;
  --color-sky-600: #9ad9f6;
  --color-sky-700: #b1e2f8;
  --color-sky-800: #c8ebfb;
  --color-sky-850: #e0f3fd;
  --color-sky-900: #f7fcff;
  --color-grey-0: #000000;
  --color-grey-50: #0b0b0d;
  --color-grey-100: #15171a;
  --color-grey-150: #202226;
  --color-grey-200: #2b2e33;
  --color-grey-300: #40444d;
  --color-grey-400: #565b66;
  --color-grey-500: #6b7280;
  --color-grey-600: #898e99;
  --color-grey-700: #a6aab3;
  --color-grey-800: #c4c7cc;
  --color-grey-850: #d3d5d9;
  --color-grey-900: #e1e3e6;
  --color-grey-950: #f0f1f2;
  --color-grey-1000: #ffffff;
  --color-red-0: #550505;
  --color-red-50: #680606;
  --color-red-100: #7b0707;
  --color-red-150: #a20a0a;
  --color-red-200: #c80c0c;
  --color-red-300: #ef0e0e;
  --color-red-400: #f23434;
  --color-red-500: #f45a5a;
  --color-red-600: #f78181;
  --color-red-700: #f89494;
  --color-red-800: #f9a7a7;
  --color-red-850: #fbbaba;
  --color-red-900: #fccdcd;
  --color-blue-0: #052857;
  --color-blue-50: #06316a;
  --color-blue-100: #073a7d;
  --color-blue-150: #0a4ca4;
  --color-blue-200: #0c5eca;
  --color-blue-300: #0e70f1;
  --color-blue-400: #3587f3;
  --color-blue-500: #5b9ef5;
  --color-blue-600: #82b4f8;
  --color-blue-700: #95c0f9;
  --color-blue-800: #a8cbfa;
  --color-blue-850: #bcd7fb;
  --color-blue-900: #cfe2fc;
  --color-yellow-0: #2f2402;
  --color-yellow-50: #463602;
  --color-yellow-100: #5e4803;
  --color-yellow-150: #8c6b05;
  --color-yellow-200: #bb8f06;
  --color-yellow-300: #eab308;
  --color-yellow-400: #eec239;
  --color-yellow-500: #f2d16b;
  --color-yellow-600: #f7e19c;
  --color-yellow-700: #f9e8b5;
  --color-yellow-800: #fbf0ce;
  --color-yellow-850: #fdf7e6;
  --color-yellow-900: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
}
