:root {
  color-scheme: light dark;
}

:root {
  --color-focus: light-dark(#0e70f1, #5b9ef5);
  --color-text-on-light-default: light-dark(#15171a, #15171a);
  --color-text-on-light-strong: light-dark(#000000, #000000);
  --color-text-on-light-subtle: light-dark(#565b66, #40444d);
  --color-text-on-light-disabled: light-dark(#6b7280, #898e99);
  --color-text-on-light-placeholder: light-dark(#a6aab3, #c4c7cc);
  --color-text-on-dark-default: light-dark(#f0f1f2, #f0f1f2);
  --color-text-on-dark-strong: light-dark(#ffffff, #ffffff);
  --color-text-on-dark-subtle: light-dark(#c4c7cc, #a6aab3);
  --color-text-on-dark-disabled: light-dark(#a6aab3, #898e99);
  --color-text-on-dark-placeholder: light-dark(#2b2e33, #40444d);
  --color-text-on-link-default: light-dark(#0e70f1, #3587f3);
  --color-text-on-link-hover: light-dark(#0e70f1, #3587f3);
  --color-text-on-link-seleted: light-dark(#0a4ca4, #82b4f8);
  --color-text-on-link-disabled: light-dark(#5b9ef5, #95c0f9);
  --color-primary-default: light-dark(#0e70f1, #5b9ef5);
  --color-primary-hover: light-dark(#0a4ca4, #0e70f1);
  --color-primary-seleted: light-dark(#073a7d, #0c5eca);
  --color-primary-disabled: light-dark(#5b9ef5, #bcd7fb);
  --color-primary-strong: light-dark(#0c5eca, #3587f3);
  --color-primary-subtle: light-dark(#95c0f9, #a8cbfa);
  --color-secondary-default: light-dark(#898e99, #898e99);
  --color-secondary-strong: light-dark(#6b7280, #6b7280);
  --color-secondary-subtle: light-dark(#c4c7cc, #d3d5d9);
  --color-secondary-hover: light-dark(#565b66, #565b66);
  --color-secondary-seleted: light-dark(#40444d, #40444d);
  --color-secondary-disabled: light-dark(#c4c7cc, #d3d5d9);
  --color-success-default: light-dark(#01a714, #54ca62);
  --color-success-strong: light-dark(#018610, #2bb93b);
  --color-success-subtle: light-dark(#93e59c, #a7edaf);
  --color-success-hover: light-dark(#01640c, #01a714);
  --color-success-seleted: light-dark(#004308, #018610);
  --color-success-disabled: light-dark(#7edc88, #bcf6c3);
  --color-failure-default: light-dark(#ef0e0e, #f45a5a);
  --color-failure-strong: light-dark(#c80c0c, #f23434);
  --color-failure-subtle: light-dark(#f89494, #f9a7a7);
  --color-failure-hover: light-dark(#a20a0a, #ef0e0e);
  --color-failure-seleted: light-dark(#7b0707, #c80c0c);
  --color-failure-disabled: light-dark(#f78181, #fbbaba);
  --color-warning-default: light-dark(#eab308, #f2d16b);
  --color-warning-strong: light-dark(#bb8f06, #eec239);
  --color-warning-subtle: light-dark(#f9e8b5, #fbf0ce);
  --color-warning-hover: light-dark(#8c6b05, #eab308);
  --color-warning-seleted: light-dark(#5e4803, #bb8f06);
  --color-warning-disabled: light-dark(#f7e19c, #fdf7e6);
  --color-info-default: light-dark(#0e70f1, #5b9ef5);
  --color-info-strong: light-dark(#0c5eca, #3587f3);
  --color-info-subtle: light-dark(#95c0f9, #a8cbfa);
  --color-info-hover: light-dark(#0a4ca4, #0e70f1);
  --color-info-seleted: light-dark(#073a7d, #0c5eca);
  --color-info-disabled: light-dark(#82b4f8, #bcd7fb);
  --color-profile-default: light-dark(#22c55e, #72db99);
  --color-profile-strong: light-dark(#1b9e4b, #4ad07b);
  --color-profile-subtle: light-dark(#afebc5, #c3f0d4);
  --color-profile-hover: light-dark(#147638, #22c55e);
  --color-profile-seleted: light-dark(#0e4f26, #1b9e4b);
  --color-profile-disabled: light-dark(#9be5b6, #d7f6e2);
  --color-works-default: light-dark(#14b8a6, #60d2c6);
  --color-works-strong: light-dark(#109385, #3ac5b6);
  --color-works-subtle: light-dark(#98e6dd, #abede5);
  --color-works-hover: light-dark(#0c6e64, #14b8a6);
  --color-works-seleted: light-dark(#084a42, #109385);
  --color-works-disabled: light-dark(#85e0d5, #bef3ed);
  --color-outputs-default: light-dark(#0ea5e9, #6bc8f2);
  --color-outputs-strong: light-dark(#0b84ba, #3db6ed);
  --color-outputs-subtle: light-dark(#b1e2f8, #c8ebfb);
  --color-outputs-hover: light-dark(#08638c, #0ea5e9);
  --color-outputs-seleted: light-dark(#06425d, #0b84ba);
  --color-outputs-disabled: light-dark(#9ad9f6, #e0f3fd);
  --color-default-default: light-dark(#ffffff, #ffffff);
  --color-default-strong: light-dark(#898e99, #898e99);
  --color-default-subtle: light-dark(#d3d5d9, #c4c7cc);
  --color-default-hover: light-dark(#d3d5d9, #a6aab3);
  --color-default-seleted: light-dark(#a6aab3, #a6aab3);
  --color-default-disabled: light-dark(#e1e3e6, #c4c7cc);
  --color-exposed-default: light-dark(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
  --color-exposed-hover: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  --color-exposed-selected: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  --color-input-background-default: light-dark(#ffffff, #ffffff);
  --color-input-background-disabled: light-dark(#f0f1f2, #e1e3e6);
  --color-input-background-error: light-dark(#fee2e2, #fccdcd);
  --color-input-border-default: light-dark(#a6aab3, #a6aab3);
  --color-input-border-hover: light-dark(#0e70f1, #5b9ef5);
  --color-input-border-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-input-border-error: light-dark(#f78181, #f9a7a7);
  --color-input-border-error-hover: light-dark(#ef0e0e, #f45a5a);
  --color-input-spin-button-background-default: light-dark(#ffffff, #ffffff);
  --color-input-spin-button-background-hover: light-dark(#e1e3e6, #e1e3e6);
  --color-text-on-failure-default: light-dark(#f45a5a, #f78181);
  --color-checkbox-radio-background-disabled: light-dark(#f0f1f2, #e1e3e6);
  --color-checkbox-radio-background-default: light-dark(#ffffff, #ffffff);
  --color-checkbox-radio-background-checked: light-dark(#0e70f1, #5b9ef5);
  --color-checkbox-radio-background-checked-hover: light-dark(#5b9ef5, #0e70f1);
  --color-checkbox-radio-background-checked-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-checkbox-radio-border-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-checkbox-radio-border-hover: light-dark(#0e70f1, #5b9ef5);
  --color-checkbox-radio-border-default: light-dark(#a6aab3, #a6aab3);
  --color-checkbox-radio-border-checked-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-checkbox-radio-border-checked-hover: light-dark(#5b9ef5, #0e70f1);
  --color-checkbox-radio-border-checked: light-dark(#0e70f1, #5b9ef5);
  --color-checkbox-radio-icon-default: light-dark(#ffffff, #ffffff);
  --color-checkbox-radio-icon-checked-disabled: light-dark(#898e99, #a6aab3);
  --color-checkbox-radio-icon-disabled: light-dark(#f0f1f2, #e1e3e6);
  --color-switch-icon-default: light-dark(#ffffff, #ffffff);
  --color-switch-icon-disabled: light-dark(#f0f1f2, #e1e3e6);
  --color-switch-background-default: light-dark(#a6aab3, #a6aab3);
  --color-switch-background-hover: light-dark(#e1e3e6, #6b7280);
  --color-switch-background-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-switch-background-checked-hover: light-dark(#5b9ef5, #0e70f1);
  --color-switch-background-checked: light-dark(#0e70f1, #5b9ef5);
  --color-switch-background-checked-disabled: light-dark(#c4c7cc, #e1e3e6);
  --color-teal-0: light-dark(#d1faf5, #042521);
  --color-teal-50: light-dark(#bef3ed, #063732);
  --color-teal-100: light-dark(#abede5, #084a42);
  --color-teal-150: light-dark(#98e6dd, #0c6e64);
  --color-teal-200: light-dark(#85e0d5, #109385);
  --color-teal-300: light-dark(#60d2c6, #14b8a6);
  --color-teal-400: light-dark(#3ac5b6, #3ac5b6);
  --color-teal-500: light-dark(#14b8a6, #60d2c6);
  --color-teal-600: light-dark(#109385, #85e0d5);
  --color-teal-700: light-dark(#0c6e64, #98e6dd);
  --color-teal-800: light-dark(#084a42, #abede5);
  --color-teal-850: light-dark(#063732, #bef3ed);
  --color-teal-900: light-dark(#042521, #d1faf5);
  --color-sky-0: light-dark(#f7fcff, #03212f);
  --color-sky-50: light-dark(#e0f3fd, #043246);
  --color-sky-100: light-dark(#c8ebfb, #06425d);
  --color-sky-150: light-dark(#b1e2f8, #08638c);
  --color-sky-200: light-dark(#9ad9f6, #0b84ba);
  --color-sky-300: light-dark(#6bc8f2, #0ea5e9);
  --color-sky-400: light-dark(#3db6ed, #3db6ed);
  --color-sky-500: light-dark(#0ea5e9, #6bc8f2);
  --color-sky-600: light-dark(#0b84ba, #9ad9f6);
  --color-sky-700: light-dark(#08638c, #b1e2f8);
  --color-sky-800: light-dark(#06425d, #c8ebfb);
  --color-sky-850: light-dark(#043246, #e0f3fd);
  --color-sky-900: light-dark(#03212f, #f7fcff);
  --color-emerald-0: light-dark(#ebfbf1, #072713);
  --color-emerald-50: light-dark(#d7f6e2, #0a3b1c);
  --color-emerald-100: light-dark(#c3f0d4, #0e4f26);
  --color-emerald-150: light-dark(#afebc5, #147638);
  --color-emerald-200: light-dark(#9be5b6, #1b9e4b);
  --color-emerald-300: light-dark(#72db99, #22c55e);
  --color-emerald-400: light-dark(#4ad07b, #4ad07b);
  --color-emerald-500: light-dark(#22c55e, #72db99);
  --color-emerald-600: light-dark(#1b9e4b, #9be5b6);
  --color-emerald-700: light-dark(#147638, #afebc5);
  --color-emerald-800: light-dark(#0e4f26, #c3f0d4);
  --color-emerald-850: light-dark(#0a3b1c, #d7f6e2);
  --color-emerald-900: light-dark(#072713, #ebfbf1);
  --color-grey-0: light-dark(#ffffff, #000000);
  --color-grey-50: light-dark(#f0f1f2, #0b0b0d);
  --color-grey-100: light-dark(#e1e3e6, #15171a);
  --color-grey-150: light-dark(#d3d5d9, #202226);
  --color-grey-200: light-dark(#c4c7cc, #2b2e33);
  --color-grey-300: light-dark(#a6aab3, #40444d);
  --color-grey-400: light-dark(#898e99, #565b66);
  --color-grey-500: light-dark(#6b7280, #6b7280);
  --color-grey-600: light-dark(#565b66, #898e99);
  --color-grey-700: light-dark(#40444d, #a6aab3);
  --color-grey-800: light-dark(#2b2e33, #c4c7cc);
  --color-grey-850: light-dark(#202226, #d3d5d9);
  --color-grey-900: light-dark(#15171a, #e1e3e6);
  --color-grey-950: light-dark(#0b0b0d, #f0f1f2);
  --color-grey-1000: light-dark(#000000, #ffffff);
  --color-red-0: light-dark(#fef2f2, #550505);
  --color-red-50: light-dark(#fee2e2, #680606);
  --color-red-100: light-dark(#f9a7a7, #7b0707);
  --color-red-150: light-dark(#f89494, #a20a0a);
  --color-red-200: light-dark(#f78181, #c80c0c);
  --color-red-300: light-dark(#f45a5a, #ef0e0e);
  --color-red-400: light-dark(#f23434, #f23434);
  --color-red-500: light-dark(#ef0e0e, #f45a5a);
  --color-red-600: light-dark(#c80c0c, #f78181);
  --color-red-700: light-dark(#a20a0a, #f89494);
  --color-red-800: light-dark(#7b0707, #f9a7a7);
  --color-red-850: light-dark(#680606, #fbbaba);
  --color-red-900: light-dark(#550505, #fccdcd);
  --color-green-0: light-dark(#d1ffd6, #002104);
  --color-green-50: light-dark(#bcf6c3, #003206);
  --color-green-100: light-dark(#a7edaf, #004308);
  --color-green-150: light-dark(#93e59c, #01640c);
  --color-green-200: light-dark(#7edc88, #018610);
  --color-green-300: light-dark(#54ca62, #01a714);
  --color-green-400: light-dark(#2bb93b, #2bb93b);
  --color-green-500: light-dark(#01a714, #54ca62);
  --color-green-600: light-dark(#018610, #7edc88);
  --color-green-700: light-dark(#01640c, #93e59c);
  --color-green-800: light-dark(#004308, #a7edaf);
  --color-green-850: light-dark(#003206, #bcf6c3);
  --color-green-900: light-dark(#002104, #d1ffd6);
  --color-blue-0: light-dark(#cfe2fc, #052857);
  --color-blue-50: light-dark(#bcd7fb, #06316a);
  --color-blue-100: light-dark(#a8cbfa, #073a7d);
  --color-blue-150: light-dark(#95c0f9, #0a4ca4);
  --color-blue-200: light-dark(#82b4f8, #0c5eca);
  --color-blue-300: light-dark(#5b9ef5, #0e70f1);
  --color-blue-400: light-dark(#3587f3, #3587f3);
  --color-blue-500: light-dark(#0e70f1, #5b9ef5);
  --color-blue-600: light-dark(#0c5eca, #82b4f8);
  --color-blue-700: light-dark(#0a4ca4, #95c0f9);
  --color-blue-800: light-dark(#073a7d, #a8cbfa);
  --color-blue-850: light-dark(#06316a, #bcd7fb);
  --color-blue-900: light-dark(#052857, #cfe2fc);
  --color-yellow-0: light-dark(#ffffff, #2f2402);
  --color-yellow-50: light-dark(#fdf7e6, #463602);
  --color-yellow-100: light-dark(#fbf0ce, #5e4803);
  --color-yellow-150: light-dark(#f9e8b5, #8c6b05);
  --color-yellow-200: light-dark(#f7e19c, #bb8f06);
  --color-yellow-300: light-dark(#f2d16b, #eab308);
  --color-yellow-400: light-dark(#eec239, #eec239);
  --color-yellow-500: light-dark(#eab308, #f2d16b);
  --color-yellow-600: light-dark(#bb8f06, #f7e19c);
  --color-yellow-700: light-dark(#8c6b05, #f9e8b5);
  --color-yellow-800: light-dark(#5e4803, #fbf0ce);
  --color-yellow-850: light-dark(#463602, #fdf7e6);
  --color-yellow-900: light-dark(#2f2402, #ffffff);
  --color-white: light-dark(#ffffff, #ffffff);
  --color-black: light-dark(#000000, #000000);
  --border-radius-none: 0;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-full: 9999px;
  --opacity-0: 0;
  --opacity-25: 25;
  --opacity-50: 50;
  --opacity-75: 75;
  --opacity-100: 100;
  --spacing-none: 0;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-lg: 14px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;
  --spacing-6xl: 56px;
  --spacing-2xs: 2px;
  --elevation-styles-elevation2-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation2-type: dropShadow;
  --elevation-styles-elevation2-x: 0;
  --elevation-styles-elevation2-y: 2px;
  --elevation-styles-elevation2-blur: 4;
  --elevation-styles-elevation2-spread: 0;
  --elevation-styles-elevation4-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation4-type: dropShadow;
  --elevation-styles-elevation4-x: 0;
  --elevation-styles-elevation4-y: 4px;
  --elevation-styles-elevation4-blur: 8;
  --elevation-styles-elevation4-spread: 0;
  --elevation-styles-elevation8-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation8-type: dropShadow;
  --elevation-styles-elevation8-x: 0;
  --elevation-styles-elevation8-y: 8px;
  --elevation-styles-elevation8-blur: 12;
  --elevation-styles-elevation8-spread: 0;
  --elevation-styles-elevation12-color: rgba(0, 0, 0, 0.25);
  --elevation-styles-elevation12-type: dropShadow;
  --elevation-styles-elevation12-x: 0;
  --elevation-styles-elevation12-y: 12px;
  --elevation-styles-elevation12-blur: 20;
  --elevation-styles-elevation12-spread: 0;
  --font-family-default: BIZ UDPGothic;
  --font-family-mintyo: BIZ UDPMincho;
  --font-family-number: Lato;
  --line-height-default: 150%;
  --line-height-relax: 175%;
  --line-height-heading: 130%;
  --line-height-line: 113.4%;
  --line-height-input: 120%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-2xs: 0.625rem;
  --font-size-7xl: 3rem;
  --font-size-6xl: 2.5rem;
  --font-size-5xl: 2.25rem;
  --font-size-4xl: 2rem;
  --font-size-8xl: 3.5rem;
  --leading-trim: calc((1em - 1lh) / 2);
}
