:root {
  --color-focus: #0e70f1px;
  --color-text-on-light-default: #15171apx;
  --color-text-on-light-strong: #000000px;
  --color-text-on-light-subtle: #565b66px;
  --color-text-on-light-disabled: #6b7280px;
  --color-text-on-light-placeholder: #a6aab3px;
  --color-text-on-dark-default: #f0f1f2px;
  --color-text-on-dark-strong: #ffffffpx;
  --color-text-on-dark-subtle: #c4c7ccpx;
  --color-text-on-dark-disabled: #a6aab3px;
  --color-text-on-dark-placeholder: #2b2e33px;
  --color-text-on-link-default: #0e70f1px;
  --color-text-on-link-hover: #0e70f1px;
  --color-text-on-link-seleted: #0a4ca4px;
  --color-text-on-link-disabled: #5b9ef5px;
  --color-primary-default: #0e70f1px;
  --color-primary-hover: #0a4ca4px;
  --color-primary-seleted: #073a7dpx;
  --color-primary-disabled: #5b9ef5px;
  --color-primary-strong: #0c5ecapx;
  --color-primary-subtle: #95c0f9px;
  --color-secondary-default: #898e99px;
  --color-secondary-strong: #6b7280px;
  --color-secondary-subtle: #c4c7ccpx;
  --color-secondary-hover: #565b66px;
  --color-secondary-seleted: #40444dpx;
  --color-secondary-disabled: #c4c7ccpx;
  --color-success-default: #22c55epx;
  --color-success-strong: #1b9e4bpx;
  --color-success-subtle: #afebc5px;
  --color-success-hover: #147638px;
  --color-success-seleted: #0e4f26px;
  --color-success-disabled: #9be5b6px;
  --color-failure-default: #ef0e0epx;
  --color-failure-strong: #c80c0cpx;
  --color-failure-subtle: #f89494px;
  --color-failure-hover: #a20a0apx;
  --color-failure-seleted: #7b0707px;
  --color-failure-disabled: #f78181px;
  --color-warning-default: #eab308px;
  --color-warning-strong: #bb8f06px;
  --color-warning-subtle: #f9e8b5px;
  --color-warning-hover: #8c6b05px;
  --color-warning-seleted: #5e4803px;
  --color-warning-disabled: #f7e19cpx;
  --color-info-default: #0e70f1px;
  --color-info-strong: #0c5ecapx;
  --color-info-subtle: #95c0f9px;
  --color-info-hover: #0a4ca4px;
  --color-info-seleted: #073a7dpx;
  --color-info-disabled: #82b4f8px;
  --color-profile-default: #22c55epx;
  --color-profile-strong: #1b9e4bpx;
  --color-profile-subtle: #afebc5px;
  --color-profile-hover: #147638px;
  --color-profile-seleted: #0e4f26px;
  --color-profile-disabled: #9be5b6px;
  --color-works-default: #14b8a6px;
  --color-works-strong: #109385px;
  --color-works-subtle: #98e6ddpx;
  --color-works-hover: #0c6e64px;
  --color-works-seleted: #084a42px;
  --color-works-disabled: #85e0d5px;
  --color-outputs-default: #0ea5e9px;
  --color-outputs-strong: #0b84bapx;
  --color-outputs-subtle: #b1e2f8px;
  --color-outputs-hover: #08638cpx;
  --color-outputs-seleted: #06425dpx;
  --color-outputs-disabled: #9ad9f6px;
  --color-default-default: #ffffffpx;
  --color-default-strong: #898e99px;
  --color-default-subtle: #d3d5d9px;
  --color-default-hover: #d3d5d9px;
  --color-default-seleted: #a6aab3px;
  --color-default-disabled: #e1e3e6px;
  --color-exposed-default: rgba(0, 0, 0, 0);
  --color-exposed-hover: rgba(0, 0, 0, 0.1);
  --color-exposed-selected: rgba(0, 0, 0, 0.2);
  --color-input-background-default: #ffffffpx;
  --color-input-background-disabled: #f0f1f2px;
  --color-input-background-error: #fee2e2px;
  --color-input-border-default: #a6aab3px;
  --color-input-border-hover: #0e70f1px;
  --color-input-border-disabled: #c4c7ccpx;
  --color-input-border-error: #f78181px;
  --color-input-border-error-hover: #ef0e0epx;
  --color-input-spin-button-background-default: #ffffffpx;
  --color-input-spin-button-background-hover: #e1e3e6px;
  --color-text-on-failure-default: #f45a5apx;
  --color-checkbox-radio-background-disabled: #f0f1f2px;
  --color-checkbox-radio-background-default: #ffffffpx;
  --color-checkbox-radio-background-checked: #0e70f1px;
  --color-checkbox-radio-background-checked-hover: #5b9ef5px;
  --color-checkbox-radio-background-checked-disabled: #c4c7ccpx;
  --color-checkbox-radio-border-disabled: #c4c7ccpx;
  --color-checkbox-radio-border-hover: #0e70f1px;
  --color-checkbox-radio-border-default: #a6aab3px;
  --color-checkbox-radio-border-checked-disabled: #c4c7ccpx;
  --color-checkbox-radio-border-checked-hover: #5b9ef5px;
  --color-checkbox-radio-border-checked: #0e70f1px;
  --color-checkbox-radio-icon-default: #ffffffpx;
  --color-checkbox-radio-icon-checked-disabled: #898e99px;
  --color-checkbox-radio-icon-disabled: #f0f1f2px;
  --color-switch-icon-default: #ffffffpx;
  --color-switch-icon-disabled: #f0f1f2px;
  --color-switch-background-default: #a6aab3px;
  --color-switch-background-hover: #e1e3e6px;
  --color-switch-background-disabled: #c4c7ccpx;
  --color-switch-background-checked-hover: #5b9ef5px;
  --color-switch-background-checked: #0e70f1px;
  --color-switch-background-checked-disabled: #c4c7ccpx;
  --color-teal-0: #d1faf5px;
  --color-teal-50: #bef3edpx;
  --color-teal-100: #abede5px;
  --color-teal-150: #98e6ddpx;
  --color-teal-200: #85e0d5px;
  --color-teal-300: #60d2c6px;
  --color-teal-400: #3ac5b6px;
  --color-teal-500: #14b8a6px;
  --color-teal-600: #109385px;
  --color-teal-700: #0c6e64px;
  --color-teal-800: #084a42px;
  --color-teal-850: #063732px;
  --color-teal-900: #042521px;
  --color-green-0: #ebfbf1px;
  --color-green-50: #d7f6e2px;
  --color-green-100: #c3f0d4px;
  --color-green-150: #afebc5px;
  --color-green-200: #9be5b6px;
  --color-green-300: #72db99px;
  --color-green-400: #4ad07bpx;
  --color-green-500: #22c55epx;
  --color-green-600: #1b9e4bpx;
  --color-green-700: #147638px;
  --color-green-800: #0e4f26px;
  --color-green-850: #0a3b1cpx;
  --color-green-900: #072713px;
  --color-sky-0: #f7fcffpx;
  --color-sky-50: #e0f3fdpx;
  --color-sky-100: #c8ebfbpx;
  --color-sky-150: #b1e2f8px;
  --color-sky-200: #9ad9f6px;
  --color-sky-300: #6bc8f2px;
  --color-sky-400: #3db6edpx;
  --color-sky-500: #0ea5e9px;
  --color-sky-600: #0b84bapx;
  --color-sky-700: #08638cpx;
  --color-sky-800: #06425dpx;
  --color-sky-850: #043246px;
  --color-sky-900: #03212fpx;
  --color-grey-0: #ffffffpx;
  --color-grey-50: #f0f1f2px;
  --color-grey-100: #e1e3e6px;
  --color-grey-150: #d3d5d9px;
  --color-grey-200: #c4c7ccpx;
  --color-grey-300: #a6aab3px;
  --color-grey-400: #898e99px;
  --color-grey-500: #6b7280px;
  --color-grey-600: #565b66px;
  --color-grey-700: #40444dpx;
  --color-grey-800: #2b2e33px;
  --color-grey-850: #202226px;
  --color-grey-900: #15171apx;
  --color-grey-950: #0b0b0dpx;
  --color-grey-1000: #000000px;
  --color-red-0: #fef2f2px;
  --color-red-50: #fee2e2px;
  --color-red-100: #f9a7a7px;
  --color-red-150: #f89494px;
  --color-red-200: #f78181px;
  --color-red-300: #f45a5apx;
  --color-red-400: #f23434px;
  --color-red-500: #ef0e0epx;
  --color-red-600: #c80c0cpx;
  --color-red-700: #a20a0apx;
  --color-red-800: #7b0707px;
  --color-red-850: #680606px;
  --color-red-900: #550505px;
  --color-blue-0: #cfe2fcpx;
  --color-blue-50: #bcd7fbpx;
  --color-blue-100: #a8cbfapx;
  --color-blue-150: #95c0f9px;
  --color-blue-200: #82b4f8px;
  --color-blue-300: #5b9ef5px;
  --color-blue-400: #3587f3px;
  --color-blue-500: #0e70f1px;
  --color-blue-600: #0c5ecapx;
  --color-blue-700: #0a4ca4px;
  --color-blue-800: #073a7dpx;
  --color-blue-850: #06316apx;
  --color-blue-900: #052857px;
  --color-yellow-0: #ffffffpx;
  --color-yellow-50: #fdf7e6px;
  --color-yellow-100: #fbf0cepx;
  --color-yellow-150: #f9e8b5px;
  --color-yellow-200: #f7e19cpx;
  --color-yellow-300: #f2d16bpx;
  --color-yellow-400: #eec239px;
  --color-yellow-500: #eab308px;
  --color-yellow-600: #bb8f06px;
  --color-yellow-700: #8c6b05px;
  --color-yellow-800: #5e4803px;
  --color-yellow-850: #463602px;
  --color-yellow-900: #2f2402px;
  --color-white: #ffffffpx;
  --color-black: #000000px;
  --border-radius-none: 0px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-full: 9999px;
  --opacity-0: 0px;
  --opacity-25: 25px;
  --opacity-50: 50px;
  --opacity-75: 75px;
  --opacity-100: 100px;
  --spacing-none: 0px;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-lg: 14px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;
  --spacing-6xl: 56px;
  --spacing-2xs: 2px;
  --elevation-styles-elevation2-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation2-type: dropShadowpx;
  --elevation-styles-elevation2-x: 0px;
  --elevation-styles-elevation2-y: 2px;
  --elevation-styles-elevation2-blur: 4px;
  --elevation-styles-elevation2-spread: 0px;
  --elevation-styles-elevation4-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation4-type: dropShadowpx;
  --elevation-styles-elevation4-x: 0px;
  --elevation-styles-elevation4-y: 4px;
  --elevation-styles-elevation4-blur: 8px;
  --elevation-styles-elevation4-spread: 0px;
  --elevation-styles-elevation8-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation8-type: dropShadowpx;
  --elevation-styles-elevation8-x: 0px;
  --elevation-styles-elevation8-y: 8px;
  --elevation-styles-elevation8-blur: 12px;
  --elevation-styles-elevation8-spread: 0px;
  --elevation-styles-elevation12-color: rgba(0, 0, 0, 0.25);
  --elevation-styles-elevation12-type: dropShadowpx;
  --elevation-styles-elevation12-x: 0px;
  --elevation-styles-elevation12-y: 12px;
  --elevation-styles-elevation12-blur: 20px;
  --elevation-styles-elevation12-spread: 0px;
  --button-size-md-line-height-line-font-family: BIZ UDPGothicpx;
  --button-size-md-line-height-line-font-weight: Boldpx;
  --button-size-md-line-height-line-line-height: 113.4%px;
  --button-size-md-line-height-line-font-size: 14px;
  --button-size-md-line-height-line-letter-spacing: 0%px;
  --button-size-md-line-height-line-paragraph-spacing: 0px;
  --button-size-md-line-height-line-paragraph-indent: 0pxpx;
  --button-size-md-line-height-line-text-case: nonepx;
  --button-size-md-line-height-line-text-decoration: nonepx;
  --button-size-sm-line-height-line-font-family: BIZ UDPGothicpx;
  --button-size-sm-line-height-line-font-weight: Boldpx;
  --button-size-sm-line-height-line-line-height: 113.4%px;
  --button-size-sm-line-height-line-font-size: 12px;
  --button-size-sm-line-height-line-letter-spacing: 0%px;
  --button-size-sm-line-height-line-paragraph-spacing: 0px;
  --button-size-sm-line-height-line-paragraph-indent: 0pxpx;
  --button-size-sm-line-height-line-text-case: nonepx;
  --button-size-sm-line-height-line-text-decoration: nonepx;
  --input-size-md-line-height-line-font-family: BIZ UDPGothicpx;
  --input-size-md-line-height-line-font-weight: Regularpx;
  --input-size-md-line-height-line-line-height: 125%px;
  --input-size-md-line-height-line-font-size: 16px;
  --input-size-md-line-height-line-letter-spacing: 0%px;
  --input-size-md-line-height-line-paragraph-spacing: 0px;
  --input-size-md-line-height-line-paragraph-indent: 0pxpx;
  --input-size-md-line-height-line-text-case: nonepx;
  --input-size-md-line-height-line-text-decoration: nonepx;
  --input-number-size-md-line-height-line-font-family: Latopx;
  --input-number-size-md-line-height-line-font-weight: Regularpx;
  --input-number-size-md-line-height-line-line-height: 125%px;
  --input-number-size-md-line-height-line-font-size: 16px;
  --input-number-size-md-line-height-line-letter-spacing: 0%px;
  --input-number-size-md-line-height-line-paragraph-spacing: 0px;
  --input-number-size-md-line-height-line-paragraph-indent: 0pxpx;
  --input-number-size-md-line-height-line-text-case: nonepx;
  --input-number-size-md-line-height-line-text-decoration: nonepx;
  --text-area-size-md-font-family: BIZ UDPGothicpx;
  --text-area-size-md-font-weight: Regularpx;
  --text-area-size-md-line-height: 150%px;
  --text-area-size-md-font-size: 16px;
  --text-area-size-md-letter-spacing: 0%px;
  --text-area-size-md-paragraph-spacing: 0px;
  --text-area-size-md-paragraph-indent: 0pxpx;
  --text-area-size-md-text-case: nonepx;
  --text-area-size-md-text-decoration: nonepx;
  --checkbox-radio-size-md-font-family: BIZ UDPGothicpx;
  --checkbox-radio-size-md-font-weight: Regularpx;
  --checkbox-radio-size-md-line-height: 130%px;
  --checkbox-radio-size-md-font-size: 16px;
  --checkbox-radio-size-md-letter-spacing: 0%px;
  --checkbox-radio-size-md-paragraph-spacing: 0px;
  --checkbox-radio-size-md-paragraph-indent: 0pxpx;
  --checkbox-radio-size-md-text-case: nonepx;
  --checkbox-radio-size-md-text-decoration: nonepx;
  --font-families-biz-udpgothic: BIZ UDPGothicpx;
  --font-families-lato: Latopx;
  --line-heights-0: 113.4%px;
  --line-heights-1: 125%px;
  --line-heights-2: 150%px;
  --line-heights-3: 130%px;
  --font-weights-biz-udpgothic-0: Boldpx;
  --font-weights-biz-udpgothic-1: Regularpx;
  --font-weights-lato-2: Regularpx;
  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --letter-spacing-0: 0%px;
  --paragraph-spacing-0: 0px;
  --text-case-none: nonepx;
  --text-decoration-none: nonepx;
  --paragraph-indent-0: 0pxpx;
  --font-family-default: BIZ UDPGothicpx;
  --font-family-mintyo: BIZ UDPMinchopx;
  --font-family-number: Latopx;
  --line-height-default: 150%px;
  --line-height-relax: 175%px;
  --line-height-heading: 130%px;
  --line-height-line: 113.4%px;
  --line-height-input: 120%px;
  --font-weight-normal: 400px;
  --font-weight-bold: 700px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 28px;
  --font-size-2xs: 10px;
  --font-size-7xl: 48px;
  --font-size-6xl: 40px;
  --font-size-5xl: 36px;
  --font-size-4xl: 32px;
  --font-size-8xl: 56px;
}
