:root {
  --color-focus: #5b9ef5;
  --color-text-on-light-default: #15171a;
  --color-text-on-light-strong: #000000;
  --color-text-on-light-subtle: #40444d;
  --color-text-on-light-disabled: #898e99;
  --color-text-on-light-placeholder: #6b7280;
  --color-text-on-dark-default: #f0f1f2;
  --color-text-on-dark-strong: #ffffff;
  --color-text-on-dark-subtle: #a6aab3;
  --color-text-on-dark-disabled: #898e99;
  --color-text-on-dark-placeholder: #40444d;
  --color-text-on-link-default: #5b9ef5;
  --color-text-on-link-hover: #5b9ef5;
  --color-text-on-link-seleted: #82b4f8;
  --color-text-on-link-disabled: #95c0f9;
  --color-primary-default: #3587f3;
  --color-primary-hover: #5b9ef5;
  --color-primary-seleted: #82b4f8;
  --color-primary-disabled: #bcd7fb;
  --color-primary-strong: #5b9ef5;
  --color-primary-subtle: #a8cbfa;
  --color-primary-text: #5b9ef5;
  --color-secondary-default: #898e99;
  --color-secondary-strong: #a6aab3;
  --color-secondary-subtle: #d3d5d9;
  --color-secondary-hover: #a6aab3;
  --color-secondary-seleted: #c4c7cc;
  --color-secondary-disabled: #d3d5d9;
  --color-secondary-text: #898e99;
  --color-success-default: #01a714;
  --color-success-strong: #2bb93b;
  --color-success-subtle: #a7edaf;
  --color-success-hover: #2bb93b;
  --color-success-seleted: #54ca62;
  --color-success-disabled: #bcf6c3;
  --color-success-text: #01a714;
  --color-failure-default: #f23434;
  --color-failure-strong: #f45a5a;
  --color-failure-subtle: #f9a7a7;
  --color-failure-hover: #f45a5a;
  --color-failure-seleted: #f78181;
  --color-failure-disabled: #fbbaba;
  --color-failure-text: #f45a5a;
  --color-warning-default: #eab308;
  --color-warning-strong: #eec239;
  --color-warning-subtle: #fbf0ce;
  --color-warning-hover: #eec239;
  --color-warning-seleted: #f2d16b;
  --color-warning-disabled: #fdf7e6;
  --color-warning-text: #bb8f06;
  --color-info-default: #3587f3;
  --color-info-strong: #5b9ef5;
  --color-info-subtle: #a8cbfa;
  --color-info-hover: #5b9ef5;
  --color-info-seleted: #82b4f8;
  --color-info-disabled: #bcd7fb;
  --color-info-text: #5b9ef5;
  --color-profile-default: #22c55e;
  --color-profile-strong: #4ad07b;
  --color-profile-subtle: #c3f0d4;
  --color-profile-hover: #4ad07b;
  --color-profile-seleted: #72db99;
  --color-profile-disabled: #d7f6e2;
  --color-profile-text: #22c55e;
  --color-works-default: #14b8a6;
  --color-works-strong: #3ac5b6;
  --color-works-subtle: #abede5;
  --color-works-hover: #3ac5b6;
  --color-works-seleted: #60d2c6;
  --color-works-disabled: #bef3ed;
  --color-works-text: #14b8a6;
  --color-outputs-default: #0ea5e9;
  --color-outputs-strong: #3db6ed;
  --color-outputs-subtle: #c8ebfb;
  --color-outputs-hover: #3db6ed;
  --color-outputs-seleted: #6bc8f2;
  --color-outputs-disabled: #e0f3fd;
  --color-outputs-text: #0ea5e9;
  --color-default-default: #ffffff;
  --color-default-strong: #898e99;
  --color-default-subtle: #c4c7cc;
  --color-default-hover: #a6aab3;
  --color-default-seleted: #a6aab3;
  --color-default-disabled: #c4c7cc;
  --color-exposed-default: rgba(255, 255, 255, 0);
  --color-exposed-hover: rgba(255, 255, 255, 0.1);
  --color-exposed-selected: rgba(255, 255, 255, 0.2);
  --color-input-background-default: #ffffff;
  --color-input-background-disabled: #e1e3e6;
  --color-input-background-error: #fccdcd;
  --color-input-border-default: #a6aab3;
  --color-input-border-hover: #5b9ef5;
  --color-input-border-disabled: #e1e3e6;
  --color-input-border-error: #f9a7a7;
  --color-input-border-error-hover: #f45a5a;
  --color-input-spin-button-background-default: #ffffff;
  --color-input-spin-button-background-hover: #e1e3e6;
  --color-text-on-failure-default: #f78181;
  --color-checkbox-radio-background-disabled: #e1e3e6;
  --color-checkbox-radio-background-default: #ffffff;
  --color-checkbox-radio-background-checked: #5b9ef5;
  --color-checkbox-radio-background-checked-hover: #0e70f1;
  --color-checkbox-radio-background-checked-disabled: #e1e3e6;
  --color-checkbox-radio-border-disabled: #e1e3e6;
  --color-checkbox-radio-border-hover: #5b9ef5;
  --color-checkbox-radio-border-default: #a6aab3;
  --color-checkbox-radio-border-checked-disabled: #e1e3e6;
  --color-checkbox-radio-border-checked-hover: #0e70f1;
  --color-checkbox-radio-border-checked: #5b9ef5;
  --color-checkbox-radio-icon-default: #ffffff;
  --color-checkbox-radio-icon-checked-disabled: #a6aab3;
  --color-checkbox-radio-icon-disabled: #e1e3e6;
  --color-switch-icon-default: #ffffff;
  --color-switch-icon-disabled: #e1e3e6;
  --color-switch-background-default: #a6aab3;
  --color-switch-background-hover: #6b7280;
  --color-switch-background-disabled: #e1e3e6;
  --color-switch-background-checked-hover: #0e70f1;
  --color-switch-background-checked: #5b9ef5;
  --color-switch-background-checked-disabled: #e1e3e6;
  --color-surface-page: #15171a;
  --color-surface-raised: #202226;
  --color-surface-subtle: #2b2e33;
  --color-surface-inverse: #e1e3e6;
  --color-text-on-surface-default: #e1e3e6;
  --color-text-on-surface-strong: #ffffff;
  --color-text-on-surface-subtle: #a6aab3;
  --color-text-on-surface-disabled: #898e99;
  --color-text-on-inverse-default: #15171a;
  --color-text-on-accent-default: #15171a;
  --color-teal-0: #042521;
  --color-teal-50: #063732;
  --color-teal-100: #084a42;
  --color-teal-150: #0c6e64;
  --color-teal-200: #109385;
  --color-teal-300: #14b8a6;
  --color-teal-400: #3ac5b6;
  --color-teal-500: #60d2c6;
  --color-teal-600: #85e0d5;
  --color-teal-700: #98e6dd;
  --color-teal-800: #abede5;
  --color-teal-850: #bef3ed;
  --color-teal-900: #d1faf5;
  --color-sky-0: #03212f;
  --color-sky-50: #043246;
  --color-sky-100: #06425d;
  --color-sky-150: #08638c;
  --color-sky-200: #0b84ba;
  --color-sky-300: #0ea5e9;
  --color-sky-400: #3db6ed;
  --color-sky-500: #6bc8f2;
  --color-sky-600: #9ad9f6;
  --color-sky-700: #b1e2f8;
  --color-sky-800: #c8ebfb;
  --color-sky-850: #e0f3fd;
  --color-sky-900: #f7fcff;
  --color-emerald-0: #072713;
  --color-emerald-50: #0a3b1c;
  --color-emerald-100: #0e4f26;
  --color-emerald-150: #147638;
  --color-emerald-200: #1b9e4b;
  --color-emerald-300: #22c55e;
  --color-emerald-400: #4ad07b;
  --color-emerald-500: #72db99;
  --color-emerald-600: #9be5b6;
  --color-emerald-700: #afebc5;
  --color-emerald-800: #c3f0d4;
  --color-emerald-850: #d7f6e2;
  --color-emerald-900: #ebfbf1;
  --color-grey-0: #000000;
  --color-grey-50: #0b0b0d;
  --color-grey-100: #15171a;
  --color-grey-150: #202226;
  --color-grey-200: #2b2e33;
  --color-grey-300: #40444d;
  --color-grey-400: #565b66;
  --color-grey-500: #6b7280;
  --color-grey-600: #898e99;
  --color-grey-700: #a6aab3;
  --color-grey-800: #c4c7cc;
  --color-grey-850: #d3d5d9;
  --color-grey-900: #e1e3e6;
  --color-grey-950: #f0f1f2;
  --color-grey-1000: #ffffff;
  --color-red-0: #550505;
  --color-red-50: #680606;
  --color-red-100: #7b0707;
  --color-red-150: #a20a0a;
  --color-red-200: #c80c0c;
  --color-red-300: #ef0e0e;
  --color-red-400: #f23434;
  --color-red-500: #f45a5a;
  --color-red-600: #f78181;
  --color-red-700: #f89494;
  --color-red-800: #f9a7a7;
  --color-red-850: #fbbaba;
  --color-red-900: #fccdcd;
  --color-green-0: #002104;
  --color-green-50: #003206;
  --color-green-100: #004308;
  --color-green-150: #01640c;
  --color-green-200: #018610;
  --color-green-300: #01a714;
  --color-green-400: #2bb93b;
  --color-green-500: #54ca62;
  --color-green-600: #7edc88;
  --color-green-700: #93e59c;
  --color-green-800: #a7edaf;
  --color-green-850: #bcf6c3;
  --color-green-900: #d1ffd6;
  --color-blue-0: #052857;
  --color-blue-50: #06316a;
  --color-blue-100: #073a7d;
  --color-blue-150: #0a4ca4;
  --color-blue-200: #0c5eca;
  --color-blue-300: #0e70f1;
  --color-blue-400: #3587f3;
  --color-blue-500: #5b9ef5;
  --color-blue-600: #82b4f8;
  --color-blue-700: #95c0f9;
  --color-blue-800: #a8cbfa;
  --color-blue-850: #bcd7fb;
  --color-blue-900: #cfe2fc;
  --color-yellow-0: #2f2402;
  --color-yellow-50: #463602;
  --color-yellow-100: #5e4803;
  --color-yellow-150: #8c6b05;
  --color-yellow-200: #bb8f06;
  --color-yellow-300: #eab308;
  --color-yellow-400: #eec239;
  --color-yellow-500: #f2d16b;
  --color-yellow-600: #f7e19c;
  --color-yellow-700: #f9e8b5;
  --color-yellow-800: #fbf0ce;
  --color-yellow-850: #fdf7e6;
  --color-yellow-900: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --border-radius-none: 0;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 8px;
  --border-radius-xl: 12px;
  --border-radius-2xl: 16px;
  --border-radius-3xl: 24px;
  --border-radius-full: 9999px;
  --opacity-0: 0;
  --opacity-25: 25;
  --opacity-50: 50;
  --opacity-75: 75;
  --opacity-100: 100;
  --spacing-none: 0;
  --spacing-md: 12px;
  --spacing-sm: 8px;
  --spacing-xs: 4px;
  --spacing-lg: 14px;
  --spacing-xl: 16px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;
  --spacing-6xl: 56px;
  --spacing-2xs: 2px;
  --elevation-styles-elevation2-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation2-type: dropShadow;
  --elevation-styles-elevation2-x: 0;
  --elevation-styles-elevation2-y: 2px;
  --elevation-styles-elevation2-blur: 4;
  --elevation-styles-elevation2-spread: 0;
  --elevation-styles-elevation4-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation4-type: dropShadow;
  --elevation-styles-elevation4-x: 0;
  --elevation-styles-elevation4-y: 4px;
  --elevation-styles-elevation4-blur: 8;
  --elevation-styles-elevation4-spread: 0;
  --elevation-styles-elevation8-color: rgba(0, 0, 0, 0.15);
  --elevation-styles-elevation8-type: dropShadow;
  --elevation-styles-elevation8-x: 0;
  --elevation-styles-elevation8-y: 8px;
  --elevation-styles-elevation8-blur: 12;
  --elevation-styles-elevation8-spread: 0;
  --elevation-styles-elevation12-color: rgba(0, 0, 0, 0.25);
  --elevation-styles-elevation12-type: dropShadow;
  --elevation-styles-elevation12-x: 0;
  --elevation-styles-elevation12-y: 12px;
  --elevation-styles-elevation12-blur: 20;
  --elevation-styles-elevation12-spread: 0;
  --font-family-default: BIZ UDPGothic;
  --font-family-mintyo: BIZ UDPMincho;
  --font-family-number: Lato;
  --line-height-default: 150%;
  --line-height-relax: 175%;
  --line-height-heading: 130%;
  --line-height-line: 113.4%;
  --line-height-input: 120%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-2xs: 0.625rem;
  --font-size-7xl: 3rem;
  --font-size-6xl: 2.5rem;
  --font-size-5xl: 2.25rem;
  --font-size-4xl: 2rem;
  --font-size-8xl: 3.5rem;
  --leading-trim: calc((1em - 1lh) / 2);
}
